<div class="col-xs-12 col-md-3 ftco-animate">
    <div class="dash_group_btn text-center mb-3 ">
        <a class="" href="/user/home">اطلاعات شخصی</a>
    </div>
    <div class="dash_group_btn text-center my-3">
        <a class="" href="/user/detailuser">اطلاعات تکمیلی شما</a>
    </div>
    <div class="dash_group_btn text-center my-3">
        <a class="" href="/user/orderPage">سفارشات</a>
    </div>
    <div class="dash_group_btn text-center my-3">
        <a class="" href="/user/opinionuser">انتقادات و پیشنهادات</a>
    </div>
    <div class="dash_group_btn text-center my-3">
        <a class="" href="/auth/logout">خروج</a>
    </div>
</div>