<%- include("./includes/header.ejs")%>



  <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-5 ftco-animate img img-2" style="background-image: url(images/bg_6.jpg);"></div>
        <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
          <div class="heading-section ftco-animate mb-5 text-right">
            <span class="subheading">reservation</span>
            <h2 class="mb-4">برای رزرو میز خودت از اینجا اقدام کن</h2>
          </div>
          <%- include("./includes/formReserv.ejs") %>
        </div>
      </div>
    </div>
  </section>


  <%- include("./includes/footer.ejs")%>