<div class="error-500" data-text="متاسفانه مشکلی در سرور بوجود آمده است !! به زودی این مشکل بر طرف خواهد شد">
    <spaguetti>
    <fork></fork>
    <meat></meat>
    <pasta></pasta>
    <plate></plate>
  </spaguetti>
</div>